.background{
    background-image:linear-gradient(9deg, #2937f0, #9f1ae2);
}
.logo{
    width: 15%;
}
.mobile{
    font-size: 3rem;
}
.icon{
    margin: 0;
}
.tech-section{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
footer{
    height: 150px;
    background-color: black;
}